 


h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    /* margin: 15px; */
    padding: 5px;
    /* padding-bottom: 20px; */
  }
  table{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
    /* height:300px; */
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }
  tr{
      opacity:0.8 ;
  }
  tr:hover{
    opacity: 1;

  }
  
  /* demo styles */
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  body{
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;
  }
  section{
    margin: 50px;
  }
  
  
  /* follow me template */
  .made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    color: #fff;
  }
  .made-with-love i {
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px;
  }
  .made-with-love a {
    color: #fff;
    text-decoration: none;
  }
  .made-with-love a:hover {
    text-decoration: underline;
  }
  
  #inputInfo{
      
      border: 1px solid rgba(255,255,255,0.3);
      margin: 50px;
      font-family: 'Roboto', sans-serif;

      
  }
  #divHead{
    width: 100%;
    background-color: rgba(255,255,255,0.3);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
  }
  #row1{
      width: 100%;
      display: inline-flex;
      margin: 15px;
      color: #fff;
      justify-content: center;
      font-weight: 300;
      font-size: 12px;
      /* margin: 5px; */
      /* border-bottom: solid 2px rgba(255,255,255,0.1); */
      font-family: 'Roboto', sans-serif;
      
  }
  #label{
      width: 15%;
      border-right  : solid 1px rgba(255,255,255,0.1);
      float: left;
      font-family: 'Roboto', sans-serif;
  }
  #inputText{
    width: 35%;
    border-right  : solid 1px rgba(255,255,255,0.1);
    float: left;
    font-family: 'Roboto', sans-serif;
}
input{
    border-radius: 0.5em;
    box-shadow: 0cm;
    width: 75%;
}
#row1.button{
    /* border-radius: 25px; */
    -webkit-border-radius: 25px;
}
  /* for custom scrollbar for webkit browser*/
  
  ::-webkit-scrollbar {
      width: 6px;
  } 
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }